<h1>#Harvey Shelter Availability & Volunteer needs</h1>
<h3>About this form</h3>
<p>About: This is built by Sketch City, a civic technology community in Houston. To participate in data collection, curation, or any other help, please join us through http://sketchcity.herokuapp.com/ </p>
<h3>How to use</h3>

<p>If you would like to share information about a shelter, please fill out this form. If the shelter already exists in our database, we will use any new information you provide. If you don't know the answer to any of these questions, feel free to put "I don't know." The minimum we need is a name and active phone number to collect the rest of the data.
Thank you so much for your contributions.</p>

<h4>What would you like to do?</h4>

<%= link_to "Add a new shelter", new_shelter_path %>
<%= link_to "Update Shelter Info", shelters_path %>
<%= link_to "Add Volunteer or Supply needs for a non-shelter location", new_need_path %>
